% Ignore hidden and temporaries except .gitignore
*~
~*
.*
tmp*
*.asv
!.gitignore

% Ignore binaries and output
bin/*
build/*
dist/*
output/*

% Ignore netbeans data
lib/*
nbproject/*
build.xml
manifest.mf
